<h2>Orders</h2>
<table mat-table [dataSource]="orders" class="lessons-table mat-elevation-z8">
  <ng-container matColumnDef="id" style="min-width: 200px;">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dishName">
    <th mat-header-cell *matHeaderCellDef> Dish Name </th>
    <td mat-cell *matCellDef="let element"> {{element.dishName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tableNumber">
    <th mat-header-cell *matHeaderCellDef> Table Number </th>
    <td mat-cell *matCellDef="let element"> {{element.tableNumber}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
